﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Ticket.TicketIndexViewModel

<div class="card-list">
    <div class="card ticket-card card-small">
        <div class="card-head">
            <h1>@Model.EventName </h1>
        </div>
        <hr />
        <div class="card-info">
            <p>
                <i class="fa fa-fw fa-user"></i> @Localizer["seller"]: @Model.SellerFullName
            </p>
            <p>
                <i class="fa fa-fw fa-bitcoin"></i> @Localizer["price"]: @Model.Price BYN
            </p>
                <p>
                    <i class="fa fa-fw fa-circle-o" aria-hidden="true"></i> @Localizer["orders"]: @Model.OrderCount
                </p>
            <p class="card-expand-head">
                <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> @Localizer["Notes"]:
            </p>
            <div class="card-expand">
                @if (Model.Notes == null)
                {@Localizer["NoNotes"]}
                else
                {@Model.Notes}
            </div>
        </div>
        <div>
        </div>
    </div>

    <form method="post" asp-action="Add" asp-controller="Order">
        <div asp-validation-summary="All"></div>
        <div hidden="hidden" style="display:none">
            <input asp-for="@Model.EventId" />
            <input asp-for="@Model.EventName" />
            <input asp-for="@Model.SellerFullName" />
            <input asp-for="@Model.OrderCount" />
            <input asp-for="@Model.Notes" />
            <input asp-for="@Model.Price" />
            <input asp-for="@Model.Id" />
        </div>
        <button type="submit" class="card-button "><i class="fa fa-shopping-basket"></i> @Localizer["Confirm"]</button>
        <button asp-action="EventDetail" asp-controller="Home" asp-route-eventId="@Model.EventId" class="card-button ">@Localizer["Cancel"]</button>

        <div hidden="hidden">
            <input name="ticketId" value="@Model.Id" />
        </div>
    </form>
</div>

@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}