﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Order.ConfirmViewModel


<div class="card">
    
    <form class="order-considetation" asp-action="Confirm" asp-controller="Order" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" method="post">
        <div class="card-head">
            <h1>@Localizer["ConfirmOrder"]</h1>
        </div>
        <div hidden="hidden" style="display:none;">
            <input asp-for="@Model.Id" />
            <input asp-for="@Model.TicketId" />
        </div>
        <div>
            @Localizer["TrackNo"]:
        </div>
        <input asp-for="TrackNo" />
        <span asp-validation-for="TrackNo"></span>
        <div>
            <button class="card-button green-background" type="submit"><i class="fa fa-check"></i> @Localizer["Update"]</button>
            <a asp-action="Management" asp-route-ticketId="@Model.TicketId" class="card-button dialogClose"> @Localizer["Cancel"]</a>
        </div>
    </form>
</div>

@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}

<script>
    $(document).ready(function () {
        $(".dialogClose").on("click", function (e) {
            if ($(".viewDialog").length) {
                e.preventDefault();
                $("#dialog")
                    .hide();
            }
        });
    });
</script>
