﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Order.OrderDeleteViewModel

<div class="card">
    <form asp-action="DeletePartial" asp-controller="Order" method="post">
        <div hidden="hidden">
            <input asp-for="Id" />
        </div>
        <div class="card-head">
            <h1> @Model.EventName</h1>
</div>
        <div class="card-info">
            <p>@Localizer["Delete"]</p>
                <button class="card-button red-background" type="submit"><i class="fa fa-close"></i> @Localizer["Confirm"]</button>
                <a asp-action="MyOrders" asp-controller="Home" class="card-button dialogClose"> @Localizer["Cancel"]</a>
            </div>
    </form>
</div>

@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}
<script>
    $(document).ready(function () {
        $(".dialogClose").on("click", function (e) {
            if ($(".viewDialog").length) {
                e.preventDefault();
                $("#dialog")
                    .hide();
            }
        });
    });
</script>
