﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Order.OrderManagementViewModel
@{
    ViewData["Title"] = "Order Management";
}
<div class="card-list">

    <div class="card ticket-card card-small">
        <div class="card-head">
            <h1>@Model.Ticket.EventName </h1>
        </div>
        <hr />
        <div class="card-info">
            <p>
                <i class="fa fa-fw fa-bitcoin"></i> @Localizer["price"]: @Model.Ticket.Price BYN
            </p>
            <p>
                <i class="fa fa-fw fa-circle-o" aria-hidden="true"></i> @Localizer["orders"]: @Model.Ticket.OrderCount
            </p>
            <p class="card-expand-head">
                <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> @Localizer["Notes"]:
            </p>
            <div class="card-expand">
                @if (Model.Ticket.Notes == null)
            {@Localizer["NoNotes"]}
            else
            {@Model.Ticket.Notes}
            </div>
            <a href="~/Home/EventDetail?eventId=@Model.Ticket.EventId" class="flat-button wide">@Localizer["EvInfo"]</a>
        </div>
        <div>
        </div>
    </div>

    <hr />

    @foreach (var order in Model.Orders)
    {
        <div class="card  user-card">

            <div class="photo">
                @if (@order.BuyerPhoto != null)
                {
                    <img class="circle" height="32" width="32" src="~/images/users/@order.BuyerPhoto" alt="@order.BuyerFullName" />
                }
                else
                {
                    <img class="circle" height="32" width="32" src="~/images/no-avatar.jpg" />
                }
            </div>
            <div> @order.BuyerFullName</div>

            <div>
                <b>@Localizer[order.Status.ToString()]</b>
            </div>
            @*До лучших времен полежит*@
            @*@if (@order.Status == EpamTicketoTask.Data.Models.OrderStatuses.Confirmed)
            {
                <div>
                    @Localizer["TrackNumber"]: @order.TrackNo
                </div>
            }
            @if (@order.Status == EpamTicketoTask.Data.Models.OrderStatuses.Rejected)
            {
                <div>
                    <p class="card-expand-head">
                        <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i>@Localizer["Reason"]:
                    </p>
                    <div class="card-expand">
                        @if (Model.Ticket.Notes == null)
                    {@Localizer["NoReason"]}
                    else
                    {@order.Comment}
                    </div>
                </div>
            }*@
            <div  class="consideration">
                <a asp-action="Confirm" asp-route-id="@order.Id" asp-route-ticketId="@Model.Ticket.Id" class="viewDialog card-button green-background">
                <i class="fa fa-check" aria-hidden="true"></i> @Localizer["Accept"]
                </a> 
                 
                <a asp-action="Reject" asp-route-id="@order.Id" asp-route-ticketId="@Model.Ticket.Id" class="viewDialog card-button red-background">
                <i class="fa fa-close" aria-hidden="true"></i> @Localizer["Reject"]
                </a>
            </div>

        </div>
    }

</div>
<div id="dialog">
    <div class="content"></div>
</div>
@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}
<script>
    $(document).ready(function () {

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();
            $("#dialog").children()
                .load(this.href);
            $("#dialog")
                .show();
        });
    });
</script>
