﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Order.RejectViewModel
<div class="card">

    <form class="order-considetation" asp-action="Reject" asp-controller="Order" method="post">
        <div class="card-head">
            <h1>@Localizer["RejectOrder"]</h1>
        </div>
        <div hidden="hidden" style="display:none;">
            <input asp-for="@Model.Id" />
            <input asp-for="@Model.TicketId" />
        </div>
        <div>
            @Localizer["Reason"]:
        </div>
        <textarea asp-for="Comment" rows="4">Go Hell</textarea>
        <div>
            <button class="card-button red-background" type="submit"><i class="fa fa-close"></i> @Localizer["Update"]</button>
            <a asp-action="Management" asp-route-ticketId="@Model.TicketId" class="card-button dialogClose"> @Localizer["Cancel"]</a>
        </div>
    </form>
</div>

@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}
<script>
    $(document).ready(function () {
        $(".dialogClose").on("click", function (e) {
            if ($(".viewDialog").length) {
                e.preventDefault();
                $("#dialog")
                    .hide();
            }
        });
    });
</script>
