﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Event.EventDetailViewModel
@{
    ViewData["Title"] = Model.Name + " - Tickets";
}
<div class="card event-detail">
    <div class="card-head">
        <div class="event-banner">
            @if (@Model.Photo != string.Empty)
            {<img src="~/images/Events/@Model.Photo" width="256" height="256" /> }
            else
            {<img src="~/images/no-banner.jpg" width="256" height="256" />}
        </div>
        <div class="event-data">
            <h2>@Localizer["place"]: @Model.VenueFull</h2>
            <h3>@Localizer["adress"]: @Model.VenueFull</h3>
            <h4>@Localizer["date"]: @Model.Date.</h4>
        </div>
    </div>
  
    <div class="clear"></div>
    <hr />
    <div class="card-info">
       
        <h2>@Localizer["description"]:</h2>

        <div>@(Model.Description)</div>

        @if (User.IsInRole("admin"))
            {
            <a class="flat-button red-hover" asp-action="Delete" asp-controller="Event" asp-route-eventId="@Model.Id">
                <i class="fa fa-remove" aria-hidden="true"></i>
                @Localizer["Delete"]
            </a>
            <a class="flat-button" asp-action="Edit" asp-controller="Event" asp-route-eventId="@Model.Id">
                <i class="fa fa-edit"></i>
                @Localizer["Edit"]
            </a>
                <div class="clear"></div>
        }
    </div>
</div>
<h1>@Localizer["thereis"] @Model.Tickets.Count() @Localizer["ticketsTo"] @Model.Name:</h1>
<hr />
<div class="card-list">
    @if (User.Identity.IsAuthenticated)
    {
        <a href="~/Ticket/Add?eventId=@Model.Id&eventName=@Model.Name">
            <div class="card ticket-card card-selectable card-tall">
                <div class="card-add-template">
                    <div>
                        <i class="fa fa-plus-circle"></i>
                        <span class="hint">@Localizer["Add"]</span>
                    </div>
                </div>
            </div>
        </a>
    }
    @foreach (var Ticket in this.Model.Tickets)
    {
        @if (!Ticket.IsSold)
        {
            <div class="card ticket-card card-small">
                <div class="card-head">
                    <h1>@Ticket.EventName </h1>
                </div>
                <hr />
                <div class="card-info">
                    <p>
                        <a asp-controller="Auth" asp-action="Profile" asp-route-userName="@Ticket.SellerUserName">
                            <i class="fa fa-fw fa-user"></i> @Localizer["seller"]: @Ticket.SellerFullName
                        </a>
                    </p>
                    <p>
                        <i class="fa fa-fw fa-bitcoin"></i> @Localizer["price"]: @Ticket.Price BYN
                    </p>
                    @if (!Ticket.IsSold)
                    {
                        <p>
                            <i class="fa fa-fw fa-circle-o" aria-hidden="true"></i> @Localizer["orders"]: @Ticket.OrderCount
                        </p>
                    }
                    else
                    {
                        <p>
                            <i class="fa fa-fw fa-check-circle-o" aria-hidden="true"></i> @Localizer["sold"]
                        </p>
                    }
                    <p class="card-expand-head">
                        <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> @Localizer["Notes"]:
                    </p>
                    <div class="card-expand">
                        @if (Ticket.Notes == null)
                        {@Localizer["NoNotes"]}
                        else
                        {@Ticket.Notes}
                    </div>
                    @if (Ticket.SellerUserName == User.Identity.Name)
                    {
                        <a class="flat-button wide">@Localizer["youticket"]</a>
                    }
                    else
                    {
                        <a href="~/Order/Add?ticketId=@Ticket.Id" class="flat-button wide">@Localizer["ordernow"]</a>
                    }
                </div>
                <div>
                </div>
            </div>
        }
    }
    <hr />
</div>
@section ContentTitle{
    <div class="title"><h1>@Model.Name</h1></div>
}