﻿@model IEnumerable<EpamTicketoTask.EmptyTemplate.Models.ViewModels.Event.EventDisplayViewModel>
@{
    ViewData["Title"] = "Ticketo - You Ticket Re-Saling Platform";
}

<div class="card-list">
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Create" asp-controller="Event">
            <div class="card event-card card-selectable">
                <div class="card-add-template">
                    <div>
                        <i class="fa fa-plus-circle"></i>
                        <span class="hint">@Localizer["Add"]</span>
                    </div>
                </div>
            </div>
        </a>
    }
    @foreach (var Event in this.Model)
    {

        <div class="card event-card card-selectable">
            <a href="~/Home/EventDetail?eventId=@Event.Id">
                <div class="card-head">
                    @if (@Event.Photo!=string.Empty)
                    { <img src="~/images/Events/@Event.Photo" /> }
                    else
                    { <img src="~/images/no-banner.jpg" /> }
                </div>       
                <div class="card-info">
                    <h1>@Event.Name</h1>
                    <hr />
                    <p><i class="fa fa-fw fa-map-marker"></i> @Event.VenueFull</p>
                    <p><i class="fa fa-fw fa-calendar"></i> @Event.Date</p>
                </div>
            </a>
            @if (User.IsInRole("admin"))
            {
                <div class="edit-buttons">
                    <a class="red-hover" asp-action="Delete" asp-controller="Event" asp-route-eventId="@Event.Id">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                       @Localizer["Delete"]
                    </a>
                    <a asp-action="Edit" asp-controller="Event" asp-route-eventId="@Event.Id">
                    <i class="fa fa-edit"></i>
                        @Localizer["Edit"]
                    </a>
                </div>
                <div class="clear"></div>
            }
        </div>


    }

</div>
@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Events"]
        </h1>
    </div>
}