﻿@model IEnumerable<EpamTicketoTask.EmptyTemplate.Models.ViewModels.Order.OrderIndexViewModel>
@{
    ViewData["Title"] = "Ticketo - You Ticket Re-Saling Platform";
}

<div class="card-list">
    @foreach (var Order in this.Model)
    {

        <div class="card ticket-card card-small">
            <div class="card-head">
                <h1>@Order.TicketEventName</h1>
            </div>
            <hr />
            <div class="card-info">

                <p>
                    <i class="fa fa-fw fa-user"></i> @Localizer["seller"]: @Order.SellerFullName
                </p>
                <p>
                    <i class="fa fa-fw fa-bitcoin"></i> @Localizer["price"]: @Order.TicketPrice
                </p>
                <p class="card-expand-head">
                    <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> @Localizer["Notes"]:
                </p>
                <div class="card-expand">
                    @if (Order.TicketNotes == null)
                    {@Localizer["NoNotes"]}
                    else
                    {@Order.TicketNotes}
                </div>
                <a href="~/Home/EventDetail?eventId=@Order.TicketEventId" class="flat-button wide">@Localizer["EvInfo"]</a>





                @if (Order.Status == EpamTicketoTask.Data.Models.OrderStatuses.Rejected)
                {
                    <p><i class="fa fa-fw fa-cogs"></i> @Localizer["status"]: <b class="red">@Localizer[Order.Status.ToString()]</b></p>

                    <p class="card-expand-head">
                        <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> @Localizer["Reason"]:
                    </p>
                    <div class="card-expand">
                        @if (Order.Comment == null)
                        {@Localizer["NoReason"]}
                        else
                        {@Order.Comment}
                    </div>
                }
                @if (Order.Status == EpamTicketoTask.Data.Models.OrderStatuses.Confirmed)
                {
                    <p><i class="fa fa-fw fa-cogs"></i> @Localizer["status"]: <b class="green">@Localizer[Order.Status.ToString()]</b></p>

                    <p>
                        <i class="fa fa-fw fa-check-square-o"></i> @Localizer["TrackNO"]:<a target="_blank" href="https://track24.ru/?code=@Order.TrackNo">@Order.TrackNo</a>
                    </p>
                }
                @if (Order.Status == EpamTicketoTask.Data.Models.OrderStatuses.WaitingConfirmation)
                {
                    <p><i class="fa fa-fw fa-cogs"></i> @Localizer["status"]: <b>@Localizer[Order.Status.ToString()]</b></p>

                    <p>
                        <a asp-action="DeletePartial" asp-controller="Order" asp-route-orderId="@Order.Id" asp-route-eventName="@Order.TicketEventName" class="red-hover viewDialog">
                            <i class="fa fa-fw fa-close" aria-hidden="true"></i> @Localizer["RemoveOrder"]
                        </a>
                    </p>
                }


            </div>

        </div>
    }
</div>
<div id="dialog">
    <div class="content"></div>
</div>
@section ContentTitle{
    <div class="title"><h1>@Localizer["MyOrders"]</h1></div>
}

<script>
    $(document).ready(function () {

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();
            $("#dialog").children()
                .load(this.href);
            $("#dialog")
                .show();
        });
    });
</script>
