﻿@model IEnumerable<EpamTicketoTask.EmptyTemplate.Models.ViewModels.Ticket.TicketIndexViewModel>
@{
    ViewData["Title"] = "Ticketo - You Ticket Re-Saling Platform";
}

<div class="card-list">
    @foreach (var Ticket in this.Model)
    {
        <div class="card ticket-card card-small">
            <div class="card-head">
                <h1>@Ticket.EventName </h1>
            </div>
            <hr />
            <div class="card-info">
                <p>
                    <i class="fa fa-fw fa-bitcoin"></i> @Localizer["price"]: @Ticket.Price BYN
                </p>
                @if (!Ticket.IsSold)
                {
                    <p>
                        <i class="fa fa-fw fa-circle-o" aria-hidden="true"></i> @Localizer["orders"]: @Ticket.OrderCount
                    </p>
                }
                else
                {
                    <p class="green">
                        <i class="fa fa-fw fa-check-circle-o" aria-hidden="true"></i> @Localizer["SoldStatus"]
                    </p>
                }
                <p class="card-expand-head">
                    <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> @Localizer["Notes"]:
                </p>
                <div class="card-expand">
                    @if (Ticket.Notes == null)
                    {@Localizer["NoNotes"]}
                    else
                    {@Ticket.Notes}
                </div>

                @if (!Ticket.IsSold && Ticket.OrderCount != 0)
                {
                    <a href="~/Order/Management?ticketId=@Ticket.Id" class="flat-button wide">@Localizer["ToOrders"]</a>
                }
                else
                {
                    <a href="~/Home/EventDetail?eventId=@Ticket.EventId" class="flat-button wide">@Localizer["EvInfo"]</a>
                }
            </div>


            <div>

            </div>

        </div>

    }
</div>

@section ContentTitle{
    <div class="title"><h1>@Localizer["MyTick"]</h1></div>
    <div class="buttons">
        <a class="card-button" href="~/Home/MyTickets?sort=0">
            <span class="nav-item">@Localizer["All"]</span>
        </a>
        <a class="card-button" href="~/Home/MyTickets?sort=1">
            <span class="nav-item">@Localizer["Selling"]</span>
        </a>
        <a class="card-button" href="~/Home/MyTickets?sort=2">
            <span class="nav-item">@Localizer["Waiting"]</span>
        </a>
        <a class="card-button" href="~/Home/MyTickets?sort=3">
            <span class="nav-item">@Localizer["Sold"]</span>
        </a>
    </div>
}
