﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Event.EventEditViewModel
@{
    ViewData["Title"] = "AddEvent";
}
<div class="card event-detail">
    <form method="post" asp-controller="Event" asp-action="Create" asp-route-returnUrl="Home/Index" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div hidden="hidden">

        </div>
        <div class="avatar">
            <img id="preview" src="~/images/no-banner.jpg" />
            <div>
                <input id="upload" asp-for="Photo" />
            </div>
        </div>
        <div class="event-data">
            <div>
                <div class="x2">
                    <label asp-for="Name"></label><br />
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="x2">
                    <label asp-for="Date"></label><br />
                    <input asp-for="Date" />
                    <span asp-validation-for="Date"></span>
                </div>
                <div class="x2">

                    <select asp-for="VenueId" asp-items="Model.VenueList"></select>
                </div>
            </div>
        </div>
        <hr class="separatist" />
        <div class="card-info">
            <div>
                <label asp-for="Description"></label><br />
                <textarea asp-for="Description" rows="10" res></textarea>
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        <div>
            <input class="card-button" type="submit" value="Добавить" />
            @*<input class="card-button" type="" value="Добавить" />*@
        </div>
    </form>
</div>

<script type="text/javascript">

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#upload").change(function () {
        readURL(this);
    });
</script>

@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}