﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Event.EventDisplayViewModel
@{
    ViewData["Title"] = "DeleteEvent";
}
<div class="card-list">
    <div class="card event-card">

        <div class="card-head"><img src="~/images/Events/@Model.Photo" /></div>
        <div class="card-info">
            <h1>@Model.Name</h1>
            <hr />
            <p>@Model.VenueFull</p>
            <p>@Model.Date</p>
        </div>
    </div>
    <form method="post" asp-controller="Event" asp-action="Delete">
        <div asp-validation-summary="All"></div>
        <div hidden="hidden">
            <input asp-for="Id" />
            <input asp-for="Photo" />
            <input asp-for="Name" />
            <input asp-for="VenueFull" />
            <input asp-for="Date" />
        </div>
        <div>
            <h1>@Localizer["Delete"]</h1>
            <button class="card-button red" type="submit"><i class="fa fa-trash"></i> Удалить</button>
            <a class="card-button" href="~/Home/Index">Отмена</a>
        </div>
    </form>
</div>
@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}
