﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Event.EventEditViewModel
@{
    ViewData["Title"] = "AddEvent";
}
<div class="card event-detail">
    <form method="post" asp-controller="Event" asp-action="Edit" asp-route-returnUrl="Home/Index" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="avatar">
            <img id="preview" src="~/images/no-banner.jpg" />
            <div>
                <input id="upload" asp-for="Photo" />
            </div>
        </div>
        <div class="event-data">
            <div>
                <div class="x2">
                    <label asp-for="Name"></label><br />
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="x2">
                    <label asp-for="Date"></label><br />
                    <input asp-for="Date" />
                    <span asp-validation-for="Date"></span>
                </div>
                <div class="x2">

                    <select asp-for="VenueId" asp-items="Model.VenueList"></select>
                </div>
            </div>
        </div>
        <hr />
        <div class="card-info">
            <div>
                <label asp-for="Description"></label><br />
                <textarea asp-for="Description" rows="10" res></textarea>
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        <div hidden="hidden">
            <input asp-for="Id" />
            <input asp-for="OldPhoto" />
        </div>
        <div>
            <input class="card-button" type="submit" value="Обновить" />
        </div>
    </form>
</div>
@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}