﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TICKETO</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/multiple-select.css" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" />
    
    <script src="~/scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/plugins/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>


    @*Плагин для множественного выбора, удобного человеческого... в будущем заменить на собственный*@
    <link rel="stylesheet" href="~/plugins/chosen/chosen.min.css" />
    <script src="~/plugins/chosen/chosen.jquery.min.js" type="text/javascript"></script>

    @Html.Raw(JavaScriptSnippet.FullScript)

    <script>
        function expandProfile() {
            this.className
        }
    </script>
</head>
<body>
    <div class="wraper">
        <header>
            <div class="title">Ticketo</div>


            @if (User.Identity.IsAuthenticated)
            {
                <div class="profile-info">

                    <div class="floater"></div>
                    <div class="avatar">
                        <img class="circle" src="~/images/no-avatar.jpg" height="32" width="32" />

                    </div>
                    <div class="username">
                        @User.Identity.Name
                    </div>

                    <div class="expand">
                        <div>
                            <a href="~/Auth/LogOut">
                                <i class="fa fa-sign-out"></i><span>@Localizer["Logout"]</span>
                            </a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="profile-info">
                    <div class="floater"></div>
                    <div class="sign-in">
                        <a href="~/Auth/Registration">
                            <i class="fa fa-user-plus fa-fw"></i> <span>@Localizer["Register"]</span>
                        </a>
                    </div>
                    <div class="sign-in">
                        <a href="~/Auth/Login">
                            <i class="fa fa-sign-in fa-fw"></i> <span>@Localizer["Login"]</span>
                        </a>
                    </div>

                </div>
            }
        </header>
        <nav>
            <div class="main-menu">
                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-action="Profile" asp-controller="Auth">
                                <i class="fa fa-user fa-fw"></i>
                                <span class="nav-item">@Localizer["Profile"]</span>
                            </a>
                        </li>
                    }
                    <li>
                        <a href="~/Home/MyTickets">
                            <i class="fa fa-fw fa-ticket"></i>
                            <span class="nav-item">@Localizer["Tickets"]</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Home/MyOrders">
                            <i class="fa fa-fw fa-first-order"></i>
                            <span class="nav-item">@Localizer["Orders"]</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/Home/Index">
                            <i class="fa fa-group fa-fw fa-group"></i>
                            <span class="nav-item">@Localizer["Events"]</span>
                        </a>
                    </li>
                    @if(User.IsInRole("admin"))
                    {
                        <li>
                            <a href="~/City/Index">
                                <i class="fa fa-fw fa-building"></i>
                                <span class="nav-item">@Localizer["Cities"]</span>
                            </a>
                        </li>
                        <li>
                            <a href="~/Venue/Index">
                                <i class="fa fa-fw fa-map-marker"></i>
                                <span class="nav-item">@Localizer["Venues"]</span>
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </nav>

        <div class="container body-content">
            <header>
                @RenderSection("ContentTitle")
                <hr />
            </header>
            @RenderBody()
        </div>
        <div class="hFooter"></div>
    </div>
    <footer>
        <div class="footer-text"><p>&copy; 2017 - EPAM TICKETO TASK - Belomutov Georgiy</p></div>
        <div class="languages">@Localizer["Language"] @await Html.PartialAsync("SelectLanguagePartial")</div>

    </footer>


    <script>
        $(".card-expand-head").click(function () {
            $head = $(this);
            //getting div to expand
            $content = $head.next();
            //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
            $content.slideToggle(200, function () {
                //execute this after slideToggle is done
                //change text of header based on visibility of content div
                //$header.text(function () {
                //    //change text based on condition
                //    //return $content.is(":visible") ? "Collapse" : "Expand";
                //});
                $head.children().toggleClass('fa-chevron-down fa-chevron-up');
            });

        });
    </script>

</body>
</html>
