﻿@using System.Linq;

@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Auth.UserRoleUpdateViewModel
@{ 
    var items = new SelectList(Model.AllRoles);
}
<form class="role-checker" asp-controller="Auth" asp-action="RoleCheckerPartial" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" method="post"> 
    <div hidden="hidden" style="display:none;">
        <input asp-for="@Model.UserName" />
    </div>
    <select class="multi-select" asp-for="@Model.RolesToAssign" asp-items="items"></select>
    <script>
        $('select').chosen({ width: "200px"});
    </script>
    <button class="card-button" type="submit">UpdateAccess</button>
</form>