﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Ticket.TicketIndexViewModel
<div class="card ticket-card card-small">
    <div class="card-head">
        <h1>@Model.EventName </h1>
    </div>
    <hr />
    <div class="card-info">
        <p>
            <i class="fa fa-fw fa-bitcoin"></i> @Localizer["price"]: @Model.Price BYN
        </p>
        @if (!Model.IsSold)
        {
            <p>
                <i class="fa fa-fw fa-circle-o" aria-hidden="true"></i> @Localizer["orders"]: @Model.OrderCount
            </p>
        }
        else
        {
            <p class="green">
                <i class="fa fa-fw fa-check-circle-o" aria-hidden="true"></i> @Localizer["sold"]
            </p>
        }
        <p class="card-expand-head">
            <i class="fa fa-fw fa-chevron-down" aria-hidden="true"></i> @Localizer["Notes"]:
        </p>
        <div class="card-expand">
            @if (Model.Notes == null)
            {@Localizer["NoNotes"]}
            else
            {@Model.Notes}
        </div>
       
        @if (!Model.IsSold && Model.OrderCount != 0)
        {
            <a href="~/Order/Management?ticketId=@Model.Id" class="flat-button wide">@Localizer["ToOrders"]</a>
        }
        else
        {
            <a href="~/Home/EventDetail?eventId=@Model.EventId" class="flat-button wide">@Localizer["EvInfo"]</a>
        }
    </div>


    <div>

    </div>

</div>
