﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.City.CityViewModel
<div class="card event-detail">
    <div class="event-data">
        <form method="post" asp-action="Create" asp-controller="City">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"> </span>
            </div>
            <button class="card-button green-background" type="submit">
                <i class="fa fa-check"></i> @Localizer["Confirm"]
            </button>
        </form>
    </div>
</div>
@section ContentTitle{
    <div class="title"><h1>
                           @Localizer["Title"]
         </h1></div>
}