﻿@model IEnumerable<EpamTicketoTask.EmptyTemplate.Models.ViewModels.City.CityViewModel>
@{
    ViewData["Title"] = "Ticketo - You Ticket Re-Saling Platform";
}

<div class="card-list">
    <a asp-action="Create" asp-controller="City">
        <div class="card city-size ticket-card card-selectable">
            <div class="card-add-template">
                <div>
                    <i class="fa fa-plus-circle"></i>
                    <span class="hint">@Localizer["Add"]</span>
                </div>
            </div>
        </div>
    </a>
    @foreach (var City in Model)
    {

        <div class="card ticket-card city-size">
            <div class="card-head">
                <h1>@City.Name</h1>
            </div>
            <hr />
            <div class="card-info">
                <a asp-action="Edit" asp-route-cityId="@City.Id" class="flat-button"><i class="fa fa-edit"></i> @Localizer["Edit"]</a>
                <a asp-action="Delete" asp-route-cityId="@City.Id" asp-route-name="@City.Name" class="flat-button red-hover viewDialog">
                <i class="fa fa-close"></i> @Localizer["Delete"]
                </a>
            </div>
        </div>
    }
</div>
<div id="dialog">
    <div class="content"></div>
</div>
@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}

<script>
    $(document).ready(function () {

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();
            $("#dialog").children()
                .load(this.href);
            $("#dialog")
                .show();
        });
    });
</script>