﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Venue.VenueEditViewModel
<div class="card event-detail">
    <div class="event-data">
        <form method="post" asp-action="Create" asp-controller="Venue">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="card-head">
                <h1>@Localizer["Create"]</h1>
            </div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
                <span asp-validation-for="Name"> </span>
            </div>
            <div>
                <label asp-for="Address"></label>
                <input asp-for="Address" />
                <span asp-validation-for="Address"> </span>
            </div>
            <div>
                <label asp-for="CityId"></label>
                <select asp-for="CityId" asp-items="@Model.CityList"></select>
            </div>
            <button class="card-button green-background" type="submit">
                <i class="fa fa-check"></i> @Localizer["Confirm"]
            </button>
        </form>
    </div>
</div>
@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}