﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Venue.VenueIndexViewModel

<div class="card">

    <form class="order-considetation" asp-action="Delete" asp-controller="Venue" asp-route-returnUrl="@Context.Request.Path@Context.Request.QueryString" method="post">
       <div asp-validation-summary="All"></div>
        <div class="card-head">
            <h1>@Localizer["Delete"]</h1>
            <h2>@Model.Name</h2>
        </div>
        <div hidden="hidden" style="display:none;">
            <input asp-for="@Model.Id" />
            <input asp-for="@Model.Name" />
        </div>
        <div>
            <button class="card-button red-background" type="submit"><i class="fa fa-trash"></i> @Localizer["Confirm"]</button>
            <a asp-action="Index" asp-controller="Venue" class="card-button dialogClose">         @Localizer["Cancel"]</a>
        </div>
    </form>
</div>

@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}

<script>
    $(document).ready(function () {
        $(".dialogClose").on("click", function (e) {
            if ($(".viewDialog").length) {
                e.preventDefault();
                $("#dialog")
                    .hide();
            }
        });
    });
</script>
