﻿@model IEnumerable<EpamTicketoTask.EmptyTemplate.Models.ViewModels.Venue.VenueIndexViewModel>
@{
    ViewData["Title"] = "Ticketo - You Ticket Re-Saling Platform";
}

<div class="card-list">
    <a asp-action="Create" asp-controller="Venue">
        <div class="card venue-size ticket-card card-selectable">
            <div class="card-add-template">
                <div>
                    <i class="fa fa-plus-circle"></i>
                    <span class="hint">@Localizer["Add"]</span>
                </div>
            </div>
        </div>
    </a>
    @foreach (var Venue in Model)
    {

        <div class="card ticket-card venue-size">
            <div class="card-head">
                <h1>@Venue.Name</h1>
            </div>
            <hr />
            <div class="card-info">
                <p><i class="fa fa-fw fa-building"></i> @Localizer["City"]: @Venue.CityName</p>
                <p><i class="fa fa-fw fa-map-marker"></i> @Localizer["Address"]: @Venue.Address</p>
                <a asp-action="Edit" asp-route-venueId="@Venue.Id" class="flat-button"><i class="fa fa-edit"></i> @Localizer["Edit"]</a>
                <a asp-action="Delete" asp-route-venueId="@Venue.Id" asp-route-name="@Venue.Name" class="flat-button red-hover viewDialog">
                    <i class="fa fa-close"></i> @Localizer["Delete"]
                </a>
            </div>
        </div>
    }
</div>
<div id="dialog">
    <div class="content"></div>
</div>
@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}

<script>
    $(document).ready(function () {

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();
            $("#dialog").children()
                .load(this.href);
            $("#dialog")
                .show();
        });
    });
</script>
    @*<script src='@Url.Content("~/Scripts/jquery-ui.min.js")' type="text/javascript"></script>*@

@*В будущем это станет модальным окном*@
@*<script>
    $(document).ready(function () {

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();

            $("<div></div>")
                .addClass("dialog")
                .appendTo(".viewDialog")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                    close: function () { $(this).remove() },
                    model: true
                })
                .load(this.href);
        });
    });
</script>*@