﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Auth.AdminPanelViewModel
@{
    ViewData["Title"] = "Admin Panel";
}
<div class="card-list">

    @foreach (var user in Model.UserList)
    {
        <div class="card  user-card">
           
            <div class="photo">
             @if (@user.Photo != null)
                {
                    <img class="circle" height="32" width="32" src="~/images/users/@user.Photo" />
                }
                else
                {
                    <img class="circle" height="32" width="32" src="~/images/no-avatar.jpg" />
                }
            </div>
            <div><a asp-action="Profile" asp-route-userName="@user.UserName">@user.UserName</a></div>
            
            <div>@user.FirstName</div>
            <div>@user.LastName</div>
            <div class="checker">
                @await Html.PartialAsync("RoleCheckerPartial", user)
            </div>
        </div>
    }

</div>
@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}