﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Auth.LoginViewModel
@{
    ViewData["Title"] = "Ticketo - You Ticket Re-Saling Platform";
}
<div class="card login-card">
    <form method="post" asp-controller="Auth" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Username"></label><br />
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div >
            <label asp-for="RememberMe"></label><br />
                <input class="check-box" asp-for="RememberMe" />
            <span asp-validation-for="RememberMe"></span>
        </div>
        <div>
            <input class="card-button" type="submit" value="Войти" />
        </div>
    </form>
</div>
@section ContentTitle{
    <h1>@Localizer["SigningIn"]</h1>
}