﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Auth.UserDisplayViewModel
@{
    ViewData["Title"] = "Ticketo - You Ticket Re-Saling Platform";
}
<div class="card profile-card">
    <div class="card-head">
        <div class="event-banner">
            @if (Model.Photo != null)
            {
                <img src="~/images/users/@Model.Photo" width="256" height="256" />
            }
            else
            {
                <img src="~/images/no-avatar.jpg" width="256" height="256" />
            }

        </div>

        <div class="event-data">
            <h2>@Model.FirstName @Model.LastName </h2>
            <h3>@Model.Address</h3>
            <h4>@Model.PhoneNumber</h4>
        </div>
        <div class="clear"></div>
    </div>
    <hr />
    <div class="card-info">
        <div>
            @if (User.Identity.Name == Model.UserName)
            {
                <a class="card-button" asp-action="ProfileEdit"><i class="fa fa-edit"></i> @Localizer["Edit"]</a>

                @if (User.IsInRole("admin"))
                {
                    <a class="card-button" href="~/Auth/AdminPanel"><i class="fa fa-user-secret"></i> @Localizer["AdminPanel"]</a>
                }
            }
        </div>
    </div>

</div>
@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["Title"]
        </h1>
    </div>
}

