﻿@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Auth.UserEditViewModel
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    ViewData["Title"] = "Ticketo - You Ticket Re-Saling Platform";
    var cultureItems = LocOptions.Value.SupportedUICultures
       .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
       .ToList();
}
<div class="card-list">
    <div class="card profile-card stretch">
        <form method="post" asp-action="ProfileEdit" asp-controller="Auth" enctype="multipart/form-data">
            <div asp-validation-summary="All"></div>
            <div class="avatar">
                <img id="preview" src="~/images/no-avatar.jpg" />
                <div>

                    <input id="upload" asp-for="Photo" />
                </div>
            </div>
            <div class="profile-info">
                <div>
                    <div class="x3">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" />
                    </div>
                    <span asp-validation-for="FirstName"></span>
                    <div class="x3">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" />
                    </div>
                    <span asp-validation-for="LastName"></span>
                </div>
                <div>
                    <div class="x2">
                        <label asp-for="Address"></label>
                        <input asp-for="Address" />
                    </div>
                    <span asp-validation-for="Address"></span>
                </div>
                <div>
                    <div class="x3">
                        <label asp-for="Phone"></label>
                        <input asp-for="Phone" />
                    </div>
                    <span asp-validation-for="Phone"></span>
                    <div class="x3">
                        <label asp-for="Localization"></label>
                        <select asp-for="Localization" asp-items="cultureItems"></select>
                    </div>
                </div>

            </div>
            <div class="card-side-buttons">
                <h2></h2>
            </div>
            <hr />
            <div class="card-info">
                <div>
                    <button class="card-button" type="submit">@Localizer["Save"]</button>
                    <a class="card-button" href="~/Auth/MyProfile">@Localizer["Cancel"]</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#upload").change(function () {
        readURL(this);
    });
</script>

@section ContentTitle{
    <div class="title"><h1>@Localizer["MyProfile"]</h1></div>
}

