﻿@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Builder
@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Auth.RegistrationViewModel
@inject IOptions<RequestLocalizationOptions> LocOptions
@{ 
    ViewData["Title"] = "Register";
    var cultureItems = LocOptions.Value.SupportedUICultures
       .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
       .ToList();
}
<div class="card login-card">
    <form method="post" asp-controller="Auth" asp-action="Registration" asp-route-returnUrl="Home/Index">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="UserName"></label><br />
            <input asp-for="UserName" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <label asp-for="FirstName"></label><br />
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName"></label><br />
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="Localization"></label>
            <select asp-for="Localization" asp-items="cultureItems">
            </select>
        </div>
        <div>
            <input class="card-button" type="submit" value="Register" />
        </div>
    </form>
</div>
@section ContentTitle{
    <h1>@Localizer["SigningUp"]</h1>
}