﻿@model EpamTicketoTask.EmptyTemplate.Models.ViewModels.Ticket.TicketEditViewModel
@{
    ViewData["Title"] = "DeleteEvent";
}

<div class="card-list">
    <form method="post" asp-controller="Ticket" asp-action="Add">
        <div class="card ticket-card card-small">
            <div class="card-head">
                <h1>@Model.EventName</h1>
            </div>
            <hr />
            <div class="card-info">
                <label asp-for="Price"></label>
                <input asp-for="Price" />
                <span asp-validation-for="Price"></span>
                <div>
                    <label asp-for="Notes"></label><br />
                    <textarea asp-for="Notes" rows="5" res></textarea>
                    <span asp-validation-for="Notes"></span>
                </div>
            </div>

        </div>
        <div asp-validation-summary="All"></div>
        <div hidden="hidden">
            <input asp-for="EventId" />
            <input asp-for="EventName" />
        </div>
        <div>
            <input class="card-button red" type="submit" value="Продать" />
            <a class="card-button" href="~/Home/Index">Отмена</a>
        </div>
    </form>
</div>
@section ContentTitle{
    <div class="title">
        <h1>
            @Localizer["AddTicket"]
        </h1>
    </div>
}