﻿@import url(palette.less);

@font-face {
    font-family: 'overwatchItalic';
    src: url('../fonts/bignoodletoo.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@article-font-size: 13px;
@font: Verdana;

@card-elevation: 8px;
@selected-card-elevation: 16px;


@regular-font: "Helvetica Neue",Helvetica,Arial,sans-serif;
@head-font: "Helvetica Neue",Helvetica,Arial,sans-serif;


body {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    -webkit-transition: top 2s ease-out 1s;
    -moz-transition: top 2s ease-out 1s;
    -o-transition: top 2s ease-out 1s;
    transition: top 2s ease-out 1s;
    padding: 0;
    margin: 0;
    font-family: @regular-font, @font;
    background-color: @backgroundColor;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @head-font;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
}

hr {
    color: @accentColor;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    color: @textPrimaryColor;
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: @primaryColor;

    div {
        display: inline-block;
        height: 100px;
    }


    .title {
        font-family: @font;
        height: 48px;
        padding: 26px;
        float: left;
        font-size: 48px;
        font-weight: 900;
        font-style: italic;
    }

    .buttons {
        height: 32px;
        padding: 34px;
        float: left;

        .card-button {
            margin: 9px;
        }
    }

    .profile-info {
        height: 32px;
        padding: 34px;
        float: right;

        .floater {
            float: left;
            height: 50%;
            width: 100%;
            margin-bottom: -50px;
        }

        .sign-in {
            line-height: 32px;
        }

        .sign-in:hover {
            color: @accentColor;
        }

        div {
            padding: 5px;
            clear: both;
            height: 32px;
            line-height: 20px;
        }

        .avatar {
            float: left;
        }

        .username {
            line-height: 32px;
        }

        .expand {
            display: none;
        }
    }

    .profile-info:hover {

        .expand {
            display: inline-block;
        }

        .expand :hover {
            color: @accentColor;
        }
    }
}

.circle {
    border-radius: 50%;
    /* width and height can be anything, as long as they're equal */
}

nav {
    min-height: 50px;
    color: #CCCCCC;
    box-shadow: #888888 0px 0px @selected-card-elevation;
    margin-bottom: 25px;
    background: @lightPrimaryColor;

    .main-menu {
        margin: auto;
        min-height: 48px;
        max-width: 1200px;
        right: 0;
        left: 0;
        text-align: center;

        ul {
            height: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;


            li {
                width: 180px;
                height: 50px;
                vertical-align: middle;
                display: inline-block;
                text-align: left;

                a {
                    font-size: 18px;
                    line-height: 50px;
                    margin: 0 10px;
                    display: block;
                    height: 100%;
                    text-decoration: none;
                    color: inherit;
                }

                a:hover {
                    color: @accentColor;
                    height: 47px;
                    border-bottom: 3px solid @accentColor;
                }

                a:active {
                    color: #fff;
                    height: 47px;
                    border-bottom: 3px solid #fff;
                }
            }
        }
    }
}

.card {
    clear: both;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: #888888 0px 0px @card-elevation;

    .card-expand {
        display: none;
        background-color: #eeeeee;
        border-radius: 2px;
        border: 1px solid #5c6467;
        margin-bottom: 10px;
        padding: 10px;
        height: 70px;
        overflow-y: scroll;
    }
}

.card-selectable:hover {
    box-shadow: #888888 0px 0px @selected-card-elevation;
}

.body-content {
    margin: 0 25px;

    header {
        background: none;
        color: @primaryTextColor;
        width: 100%;
        min-height: 50px;

        div {
            line-height: 22px;
            padding: 10px;
            display: inline-block;
            height: 50px;
        }

        .buttons {
            padding: 10px 20px;
        }

        h1 {
            display: inline;
        }

        hr {
            clear: both;
        }
    }

    .card-list {
        text-align: center;
    }
}

.separatist {
    display: block;
}

form {
    padding: 48px 40px;

    > div {
        padding: 5px;

        div {
        }

        label {
            display: inline-block;
            text-align: left;
            width: 200px;
            padding: 5px;
        }

        input {
            display: inline-block;
            border-radius: 3px;
            width: 100%;
            margin: 10px 0;
            padding: 5px;
            border: 0;
            font-size: 24px;
            background: 0;
            border-bottom: 3px solid @accentColor;
        }

        [type="file"] {
            text-align: left;
            font-size: 14px;
            border: 0;
        }

        select {
            display: inline-block;
            border-radius: 3px;
            width: 100%;
            margin: 10px 0;
            padding: 5px;
            border: 0;
            font-size: 24px;
            background: 0;
            border-bottom: 3px solid @accentColor;
        }

        textarea {
            resize: none;
            display: inline-block;
            border-radius: 3px;
            width: 100%;
            margin: 10px 0;
            padding: 5px;
            border: 0;
            font-size: 24px;
            background: 0;
            border: 3px solid @accentColor;
        }


        .x2 {
            padding: 0 10px;
            text-align: left;
            display: inline-block;
            width: 620px;
        }

        .x3 {
            text-align: left;
            padding: 0 10px;
            display: inline-block;
            width: 300px;
        }

        .card-button {
            width: auto;
            font-size: 18px;
            padding: 9px;
            border: 0;
            color: #FFF;
            background: @accentColor;
            box-shadow: #888888 0px 1px @card-elevation;
        }

        .check-box {
            height: 20px;
            width: 20px;
            margin: 20px auto;
            background: 0;
            border: 1px solid #888888;
            border-radius: 3px;
            padding: 9px;
        }
    }
}

* html .wraper {
    height: 100%;
}

.wraper {
    position: relative;
    top: 0;
    bottom: 0;
    min-height: 100%;
}

.hFooter {
    color: #FFFFFF;
    height: 120px;
}

footer {
    color: #FFFFFF;
    background: @lightPrimaryColor;
    position: relative;
    bottom: 0;
    margin-top: -90px;
    height: 90px;
    width: 100%;

    div {
        height: 100%;
        line-height: 90px;
        padding: 0 10px;
        display: inline-block;

        p {
            display: inline;
        }
    }

    .footer-text {
        float: left;
    }

    .languages {
        float: right;

        form {
            padding: 0;
        }
    }
}







.card-add-template {
    position: relative;
    width: 350px;
    background: #cccccc;
    height: 100%;
    color: #FFFFFF;
    font-size: 86px;

    .hint {
        display: none;
    }

    div {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 86px;
        width: 98%;
        margin: -43px 0 0 -49%;
    }

    i {
        line-height: 90px;
    }

    span {
        line-height: 90px;
    }
}

.card-add-template:hover {
    font-size: 48px;

    .hint {
        display: inline;
    }
}

.event-card {
    height: 150px;
    display: inline-block;
    vertical-align: central;
    margin: 15px;

    .card-add-template {
        width: 450px;
    }

    div {
        float: left;
    }

    .card-head {
        img {
            width: 150px;
            height: 150px;
        }

        background: none;
    }

    .card-info {
        height: 100%;
        width: 300px;
        text-align: left;

        h1 {
            margin: 5px 12px;
            font-size: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        p {
            padding-left: 10px;
            font-size: 14px;
            margin: 0,0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.event-card > a {
    height: 100%;
    width: 100%;
    display: block;
}

.event-card:hover a + .edit-buttons {
    display: block;
}

.edit-buttons {
    position: relative;
    top: -30px;
    display: none;
    padding: 5px;
    height: 20px;
    float: left;

    a {
        margin: 0 5px;
    }

    :hover {
        color: @accentColor;
    }
}

.user-card {
    display: inline-block;
    margin: 0 100px;
    margin-bottom: 25px;
    padding: 10px;
    text-align: left;
    > div {
        height: 40px;
        line-height: 40px;
        padding: 10px;
        display: inline-block;
        width: 200px;

        img {
            vertical-align: middle;
        }
    }

    .photo {
        width: 32px;
    }

    .consideration {
        width: 350px;
        text-align:right;
        a {
            margin: 0 5px;
        }
    }

    .checker {
        line-height: unset;
        width: 400px;



        form {
            padding: 0;
        }
    }
}

.ticket-card {
    height: 220px;
    display: inline-block;
    vertical-align: top;
    margin: 15px;

    .card-head {
        width: 320px;
        margin: 5px auto;

        h1 {
            padding: 0 15px;
            font-size: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        background: none;
    }

    .card-info {
        text-align: left;
        padding: 0 25px 25px 25px;
        padding-top: 0;
        width: 300px;

        p {
            font-size: 14px;
            margin: 0,0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.card-small {
    height: auto;
}

.card-tall {
    height: 265px;
}

.event-detail, .profile-card {
    max-width: 1200px;
    margin: 25px auto 25px auto;

    .avatar {
        position: relative;
        background-color: #CCCCCC;
        float: left;
        height: 300px;
        width: 256px;
        border-radius: 5px;

        img {
            height: 256px;
            width: 256px;
        }

        input {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .card-head {
        .event-banner {
            float: left;
            display: inline-block;
            height: 256px;
        }


        .event-data, .profile-info {
            margin-left: 250px;
            max-width: 850px;
            padding: 1px 25px;
        }

        .card-side-buttons {
            height: 236px;
            padding: 25px;
        }
    }

    hr {
        clear: both;
    }

    .card-info {
        padding: 25px;

        div {
            padding-bottom: 25px;
        }
    }
}

.profile-card .card-info {
    text-align: center;
}

.login-card {
    width: 512px;
    margin: auto;
    padding: 0;
}


.card-button {
    border-radius: 3px;
    width: auto;
    font-size: 18px;
    padding: 9px;
    border: 0;
    color: #FFF;
    background: @accentColor;
    box-shadow: #888888 0px 1px @card-elevation;
}

.card-button:hover {
    box-shadow: #888888 0px 1px @selected-card-elevation;
}

.card-button:active {
    background: @accentColor;
    border-radius: 5px;
    color: #CCCCCC;
    box-shadow: #888888 0px 1px @card-elevation;
}

.flat-button {
    height: 20px;
    display: inline-block;
    width: 127px;
    font-size: 18px;
    padding: 10px;
    border: 0;
    color: #000;
    background: none;
    border-bottom: 3px solid #5c6467;
}

.flat-button:hover {
    height: 20px;
    color: @accentColor;
    border-bottom: 3px solid @accentColor;
}

.flat-button:active {
    background: @accentColor;
    border-radius: 3px;
    color: #FFFFFF;
}

select {
    background: #FFFFFF;
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px;
    border: 0;
    font-size: 14px;
    background: 0;
    border-bottom: 3px solid @accentColor;
}

.footer-input {
    color: #FFFFFF;
}

.footer-input:focus {
    color: #000000;
    background: #FFFFFF;
}

.footer-button {
    color: #FFFFFF;
    padding: 5px;
    margin: 10px 0;
    font-size: 14px;
    background: none;
    border: 0;
    border-radius: 3px;
}

.footer-button:hover {
    color: @accentColor;
    border-bottom: 2px solid @accentColor;
}

.footer-button:active {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.clear {
    clear: both;
}

.red-hover:hover {
    color: red;
    border-color: red;
}

.red {
    color: red;
    border-color: red;
}

.red-background {
    background-color: red;
}

.red-background:hover {
    background-color: darkred;
}

.red-background:active {
    background-color: red;
}

.green {
    color: green;
    border-color: green;
}

.green-background {
    background-color: green;
}

.green-background:hover {
    background-color: darkgreen;
}

.green-background:active {
    background-color: green;
}

#dialog {
    display: none;
    background-color: rgba(0, 0, 0, 0.69);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .content {
        text-align: center;
        width: 640px;
        height: 480px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -240px;
        margin-left: -320px;

        form {
            padding: 10px;
            padding-bottom: 35px;
        }
    }

    .card {
        box-shadow: #333333 0 0 25px;
    }

    button {
        .card-button;
    }

    input {
        display: inline-block;
        border-radius: 3px;
        width: 50%;
        margin: 10px 0;
        padding: 5px;
        border: 0;
        font-size: 24px;
        background: 0;
        border-bottom: 3px solid @accentColor;
    }
}

textarea {
    resize: none;
    display: inline-block;
    border-radius: 3px;
    width: 50%;
    margin: auto;
    margin: 10px 0;
    padding: 5px;
    border: 0;
    font-size: 24px;
    background: 0;
    border: 3px solid @accentColor;
}

.validation-summary-errors {
    color: red;
    margin: auto;
    ul {
        margin: 10px;
        padding: 0;
        list-style: none;

        li {
            width:auto;
            padding: 10px;
            background: #FFFFFF;
            border: 0;
            border-radius: 5px;
            box-shadow: #888888 1px 1px @card-elevation;
        }
    }
}

+ div {
    padding: 10px;
}

.stretch {
    max-width: none;
    display: inline-block;
    vertical-align: top;
}

.wide {
    width: 280px;
}

form > div label {
    width: 14px;
    height: 14px;
}

.multi-select {
    width: 100px;
}

.city-size {
    height: 140px;
}

.venue-size {
    height: 205px;
}
